<h2>Add details for this task:</h2>

<form action="/details" method="post">
  <div class="form-group">
     <label for="details">Enter your details for this task</label>
     <input id="details" name="details" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Submit</button>
</form>
