
<h2>full task .erb</h2>

<ul>
  <%= @task.each() do |task| %>
  <li><a href="/tasks/<%= task.id() %>"><%= details() %></a></li>
</ul>

<h3><a href ="/detailspage" >Add more details to this task</a></h3>
<p><a href="/" >Enter more tasks</a></p>
